<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/lightbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/screen.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lightbox.js")" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function()
		{
			var top = $('#subHeader').offset().top - parseFloat($('#subHeader').css('marginTop').replace(/auto/, 0));
			$(window).scroll(function(event)
			{
				// what the y position of the scroll is
				var y = $(this).scrollTop();

				// whether that's below the form
				if(y >= top)
				{
					// if so, ad the fixed class
					$('#subHeader').addClass('fixed');
				} else
				{
					// otherwise remove it
					$('#subHeader').removeClass('fixed');
				}
			});
		});
	</script>
</head>
<body>
    <div id="header">
    </div>
	<div id="subHeader">
		<ul class="navigation">
			<li class="tab">
			    <h2>@Html.ActionLink("Home", "Index", "Home")</h2>
		    </li>
		    <li class="tab">
			    <h2>@Html.ActionLink("Gallery", "Index", "Gallery")</h2>
		    </li>
		    <li class="tab">
			    <h2>@Html.ActionLink("Model", "Index", "Model")</h2>
		    </li>
		    <li class="tab">
			    <h2>@Html.ActionLink("Image", "Index", "Image")</h2>
		    </li>
		    <li class="tab">
			    <h2>@Html.ActionLink("WebSite", "Index", "WebSite")</h2>
		    </li>
		    <li class="tab">
			    <h2>@Html.ActionLink("Admin", "Index", "Admin")</h2>
		    </li>
		</ul>
	</div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
    </div>
</body>
</html>
