@model PornCantina.Models.WebSite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WebSite</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">ReferralLink</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReferralLink)
    </div>

    <div class="display-label">RSSFeed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RSSFeed)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
