@model IEnumerable<PornCantina.Models.WebSite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("GetHtmlInformation", "GetHtmlInformation")
    @Html.ActionLink("Get RSS Information", "GetRSSInformation")
</p>
<table>
    <thead>
        <tr>
            <th>
                Model Site
            </th>
            <th>
                Referral Link
            </th>
            <th>
                RSS Feed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a href="@item.ReferralLink">@Html.DisplayFor(modelItem => item.ReferralLink)</a>
            </td>
            <td>
                @if (item.RSSFeed == null)
                {
                }
                else
                {
                    <a href="@Html.DisplayFor(modelItem => item.RSSFeed)">RSS Feed</a>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>


<div>
    @Html.ActionLink("Back to Admin", "../Admin")
</div>
